@using KTechTemplateDAL
@model KTechTemplateDAL.Models.Category


@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Details for: Category</h4>
    <nav class="nav nav-pills bg-primary mb-2">
        <div class="m-1">
            <a asp-action="Edit" asp-area="Admin" class="btn btn-sm btn-light" asp-route-id="@Model.Id"><i class="far fa-edit"></i>Edit</a>
        </div>
        <div class="m-1">
            <a asp-action="Index" asp-area="Admin" class="btn btn-sm btn-light"><i class="far fa-arrow-alt-circle-left"></i>Back</a>
        </div>
    </nav><hr />
    <dl class="row pt-2 pb-2 pl-2">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
</div>
